*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', Times, sans-serif;
	padding: 5vh 0 5vh 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: radial-gradient(#fff 40%, #ddd);
	background-attachment: fixed;
	overflow-x: hidden;
}

div {
	&#heading-container {
		text-align: center;
	}

	&.subheading {
		text-align: center;
		font-size: 0.9em;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 5vh;
	}

	&.actual-content {
		display: none;
	}

	&.diagram-container {
		& > h2 {
			text-align: center;
			font-size: 1.2em;
			font-weight: 300;
			text-transform: uppercase;
		}

		padding: 0vh 2vw 5.5vh 2vw;
	}

	&.diagram-canvas-container {
		width: 100%;
		padding: 5%;
	}
}

